* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

h1, h2 {font-family: 'Montserrat Alternates', Sans-Serif;
}

/* background -light */
header,
.features,
.card-background,
.video,
.footer-nav ul,
.footer-nav li {
  color: #70765C;
  background-color: #ffffff;
}

/* background -dark */

ul,
li a,
fieldset, 
.tutorials,
.citation {
  color: #ffffff;
  background-color: #70765C;
}

figcaption,
.citation a {
  color: #ffffff;
}

.foreground-dark {
  color: #70765C;
}

header {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo,
.small-logo {
  max-width: 40%;
  margin: auto;
}

div, a {
  padding: 0.75rem 0.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
  padding: 0.75rem 0.5rem;
}

li a {
  display: block;
  text-decoration: none;
}

li a:hover{
  color: #70765C;
  background-color: #FFFFFF;
}

.subscribe {
  margin-top: 6.25rem;
  position: relative;
}

.subscribe img {
  opacity: 0.75;
}

figure:hover {
  opacity: 1;
}

h1 {
  position: absolute;
  top: 45%;
  left: 0rem;
  font-size: 2rem;
}

h1 > span { 
  letter-spacing: -2px; 
  background: rgb(112,118,92);
  background: rgba(112, 118, 92, 0.5);
  color: #ffffff;
  padding: 0.25rem; 
}

h1 span.spacer {
  padding: 0.25rem;
}

fieldset {
  position: absolute;
  top: 85%;
  border-style: none;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
}

fieldset p {
  font-size: 1.44rem;
  padding-bottom: 0.75rem;
}

form {
  flex-direction: row;
  text-align: center;
  padding-top: 0rem;
}

input {
  border-style: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

input[type="submit" i] {
  font-weight: bold;
  text-align: center;
  color: #70765C;
  background-color: #ffffff;
  width: 50%;
}

input:focus {
  outline: none;
}

.features,
.video {
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.25);
  border-radius: 0.25rem;
  text-align: center;
  margin: 1.5rem 1rem;
}

.video-holder {
  padding: 0;
}

.features img {
  max-width: 50%;
  padding: 2rem;
}

.features p {
  color: black;
}

.features h2,
.features p {
  padding: 0 0.75rem 1rem 0.75rem;
}

.features {
  max-width: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.card-background {
  margin-top: 10rem;
}

.tutorials {
  padding-bottom: 1em;
}
.tutorials p {
  padding: 1rem 1rem 0 1rem;
  text-align: left;
}

.credit {
  font-size: 0.8rem;
  padding: 0 1rem;
}

figure {
  position: relative;
  text-align: center;
  font-size: 2rem;
  display: flex;
}

.shop img {
  margin: 0;
  opacity: 0.75;
}

.shop img:hover {
  opacity: 1;
}

.shop {
  margin-bottom: 1rem;
}
figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-nav ul {
  justify-content: center;
}

.footer-nav li {
  padding: 0.75rem 0.5rem 1rem 0.5rem;
}

.citation {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

@media only screen and (min-width: 25rem) {
  fieldset {
    margin-left: 1%;
    margin-right: 1%;
  }

  h1 {
    font-size: 2.074rem;
  }

}

@media only screen and (min-width: 31rem) {
 
  fieldset {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1.5rem 2rem;
  }

  h1 {
    font-size: 2.488rem;
    top: 35%;
  }

  .card-background {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
  }

  .features {
    margin-top: 0;
    border-radius: 0.5rem;
  }

  .video {
    border-radius: 0.5rem;
  }
  
  .tutorials .credit {
    font-size: 1rem;
  }

}

@media only screen and (min-width: 40rem) {

  fieldset {
    margin-left: 10%;
    margin-right: 10%;
  }
  .features-sm {
    max-width: 45%;
  }

  .features-m {
    max-width: 50%;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .card-background {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9rem;
  }

  .features p {
    font-size: 1.2rem;
  }

  .video {
    padding: 1rem 0.25rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 48%;
    display: inline-flex;

  }
  
  .video-holder {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .tutorials-title {
    font-size: 1.2rem;
    padding: 2rem 2rem 0rem 2rem
  }

  .shop {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    max-width: 50%;
  }

  .logo,
  .small-logo {
  max-width: 30%;
  margin: auto;
}

}

@media only screen and (min-width: 50rem) {

  fieldset {
    margin-left: 15%;
    margin-right: 15%;
  }

  .video-holder {
    display: flex;
    justify-content: space-between;
  }

  .video {
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 48%;
  }

  .video p {
    font-size: 1.2rem;
  }

  .card-background {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem;
  }

  .features {
    max-width: 30%;
    margin: 1rem 0.75rem;
  }

  .logo {
    max-width: 25%;
    margin: auto;
    }
  
  .small-logo {
    max-width: 20%;
    margin: auto;
    }

}

@media only screen and (min-width: 60rem) {

  .subscribe p {
   font-size: 2.048rem;
 }
  .tutorials {
    padding: 2rem;
  }

  .tutorials-title {
    font-size: 1.44rem;
  }

 fieldset {
  padding: 1.5rem 3rem;
  border-radius: 0.40rem;
  background: rgba(112, 118, 92, 0.9);
}

  input {
    padding: 1rem;
    width: 80%;
  }
  .email {
    margin-bottom: 1rem;
  }

  input[type="submit" i] {
    width: 60%;
  }

  .card-background {
    margin-top: 11rem;
  }

  main {
    max-width: 75rem;
    margin: auto;
  }

  .card-background {
    margin-top: 8rem;
  }

  .logo {
    max-width: 20%;
    margin: auto;
    }
  
  .small-logo {
    max-width: 15%;
    margin: auto;
  }
}